.todo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 40vh;
    margin-bottom: 10px;
    width: 100%;
    font-family: sans-serif;

}



/*
272829
61677A
D8D9DA
FFF6E0

*/